*{
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #1A1A2E;
    color: white;
}
.gamemain{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    cursor: pointer;
}
@media (max-width: 800px){
    .gamemain{
        width: 300px;
        height: 300px;
        margin-top: -150px;
        margin-left: -150px;
    }
}
.gameboard{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-areas: 
    "a b c"
    "d e f"
    "g h i";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: 12vh;
    text-align: center;
}
#topleft{
    grid-area: a;
    border-right: 4px solid #e94560;
    border-bottom: 4px solid #e94560;
    padding-top: 20%;
}
#topmiddle{
    grid-area: b;
    border-right: 4px solid #e94560;
    border-bottom: 4px solid #e94560;
    padding-top: 20%;
}
#topright{
    grid-area: c;
    padding-top: 20%;
    border-bottom: 4px solid #e94560;
}
#middleleft{
    grid-area: d;
    border-right: 4px solid #e94560;
    border-bottom: 4px solid #e94560;
    padding-top: 20%;
}
#middle{
    grid-area: e;
    border-right: 4px solid #e94560;
    border-bottom: 4px solid #e94560;
    padding-top: 20%;
}
#middleright{
    grid-area: f;
    border-bottom: 4px solid #e94560;
    padding-top: 20%;
}
#bottomleft{
    grid-area: g;
    border-right: 4px solid #e94560;
    padding-top: 20%;
}
#bottommiddle{
    grid-area: h;
    border-right: 4px solid #e94560;
    padding-top: 20%;
}
#bottomright{
    grid-area: i;
    padding-top: 20%;
}
@keyframes blink-animation {
    0%{opacity: 0;};
    50%{opacity: .5;};
    100%{opacity: 1;};
}
@-webkit-keyframes blink-animation {
    0%{opacity: 0;};
    50%{opacity: .5;};
    100%{opacity: 1;};
}

.notice{
    font-size: 28px;
    text-align: center;
    color: white;
    bottom: 0;
    height: 10%;
    width: 100%;
   margin-top: 2.6em;
}


.button{
    margin-top: 3.8em;
    width: 10%;
    height: 10%;
    bottom: 0;
    float: left;
}
button{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 3px solid #ffffff;
    color: white;
    font-size: 12px;
}
button:hover{
    background: #e94560;
    border: 3px solid #e94560;
    box-shadow: 1px 1px #666;
    transform: scale(1.1, 1.1);
}
